.profile {
  svg {
    box-sizing: content-box;
    border-radius: 50px !important;
    padding: 12px;
    margin-right: 5px;
    background-color: rgb(231, 229, 229) !important;
  }
  img {
    width: 45px;
    border-radius: 50px !important;
  }
}
